:root{
    --color-bg: #FCFCFC;
    --color-bg-offset: rgba(238, 59, 98, 0.05);
    --color-text: #072c52;
    --color-text-offset: #53536b;
    --color-border: #ebe9e9;
    --color-primary: #ee3b62;
    --color-primary-offset: #cc2d50;
    --color-secondary: #457B9D;
    --color-secondary-offset: #1D3557;
}


[data-theme="dark"] { 
    --color-bg: #292929;
    --color-bg-offset: rgba(172, 172, 172, 0.1);
    --color-text: #F2F2F2;
    --color-text-offset: #ebe9eb;
    --color-border: rgb(114, 114, 114);
    --color-primary: #F2A81D;
    --color-primary-offset: rgb(219, 147, 14);
    --color-secondary: #2ABFBF;
    --color-secondary-offset: #2aa7a7;
}

[data-theme="blue"] { 
    --color-bg: #021859;
    --color-bg-offset: rgba(42, 191, 191, 0.1);
    --color-text: #F2F2F2;
    --color-text-offset: #ebe9eb;
    --color-border: #024973;
    --color-primary: #2ABFBF;
    --color-primary-offset: #2aa7a7;
    --color-secondary: #457B9D;
    --color-secondary-offset: #1D3557;
}