@use '../utils/variables';

 @font-face {
     font-family: 'GT Super';
     font-style: normal;
     font-display: swap;
     font-weight: 400;
     src: local('GT Super'), local('GTSuper-Regular'),
         url('/assets/fonts/GT-Super-Display-Regular.woff2') format('woff2'),
         url('/assets/fonts/GT-Super-Display-Regular.woff') format('woff');
 }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');