<footer class="footer" role="contentinfo">
    <div class="container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        {% include "social.njk" %}
    </div>
</footer>