<header class="header" role="banner">
    <div class="header__inner container">
        <h1 class="header__left" data-aos="fade-up"><a href="{{ '/' | url }}">Julien Brionne</a><br /><small>Product Manager</small></h1>
        <div class="header__right">
            {% include "nav.njk" %}
        </div>
    </div>
</header>