<header class="header" role="banner">
    <div class="header__inner container">
        <h1><a href="{{ '/' | url }}" class="header__branding" rel="home" aria-label="retour à la home"><span class="header__branding__text">Julien <strong>Brionne</strong><span class="primary">.</span></span></a></h1>
        <div class="header__right">
            {% include "nav.njk" %}
        </div>
    </div>
</header>