<div class="hero">
  <div class="hero__inner">
      <span class="hero__subline">👋 HEY ! C'EST JULIEN.</span>
      <h1 class="hero__title">Je suis Product Manager chez <a href="https://heetch.com/" class="hero__link">Heetch</a>, fan de design, <a href="https://headbang.fr/" class="hero__link">musique addict</a> et Papa poule !</h1>
      <span class="hero__subline">A PARIS, FRANCE 🇫🇷</span>
      <div class="hero__social">
        {% include "social.njk" %}
      </div>
  </div>
</div>