<div class="shape"></div>
<div class="hero">
  <div class="hero__inner">
      <span class="hero__subline">👋 HEY ! I'M JULIEN.</span>
      <h1 class="hero__title">I'm a Product Manager at <a href="https://heetch.com/" class="hero__link">Heetch</a>, UX motivated, data driven,  <a href="https://headbang.fr/" class="hero__link">music addict</a> and Papa Bear !</h1>
      <span class="hero__subline">IN PARIS, FRANCE 🇫🇷</span>
      <div class="hero__social">
        {% include "social.njk" %}
      </div>
  </div>
</div>