<section class="section instagram" role="instagram">
  <header>
    <span class="section__subline">last pictures</span><span class="section__reveal-line"></span>
    <h1 class="section__title">My photographic side</h1>
  </header>
  <div class="section__content full-width">
    <ul class="instagram__instas">  
        {% for insta in instagram %}
            <li class="instagram__shot {{ insta.id }}">
                <figure class="instagram__roll">
                    <a href="{{ insta.instagramURL }}">
                        <img class="instagram__photo" src="{{ insta.imageURL }}" alt="{{ insta.title }}">
                        <figcaption>{{ insta.title }}</figcaption>
                    </a>
                </figure>
            </li>
        {% endfor %}
    </ul>
  </div>
</section>