<section class="section background" role="presentation">
  <header>
    <span class="section__subline">INTRODUCTION</span><span class="section__reveal-line"></span>
  </header>
  <div class="background__presentation">
    <div class="background__left"><p>10 ans d'expérience dans le produit digital à trouver des solutions fiables et scalables.</p></div>
    <div class="background__right"><p>Venant d'un background technique et design je travaille actuellement chez <a href="https://heetch.com" class="brand-heetch">Heetch</a> partie customer care en tant que senior product manager. Avant j'étais directeur produit pendant 1 an 1/2 chez <a href="https://iwd.io/" class="brand-iwd">IWD</a> et encore avant j'étais product manager dans le E-Commerce chez <a href="https://the-other-store.com/" class="brand-toz">The Other Store</a> pendant 5 ans. En tant que PM, j'adore faire le lien entre la data et les utilisateurs pour proposer des expériences et des solutions efficaces et scalables. <br />Papa d'un petit Lucas de 2 ans, je passe désormais ma vie à surfer 🏄 entre les playmobils, les legos et Pat Patrouille 🐶.</p></div>
  </div>
</section>