<section class="section background" role="presentation">
  <header>
    <span class="section__subline">INTRODUCTION</span><span class="section__reveal-line"></span>
  </header>
  <div class="background__presentation">
    <div class="background__left"><p>With a decade of experience in digital products, I'm a craftsman of reliable and scalable solutions.</p></div>
    <div class="background__right"><p>Hailing from a background that blends creativity with technical prowess, I currently spearhead product strategy, data and design at  <a href="https://wizville.com" class="brand-heetch">Wizville</a> a company providing a Saas solution focused on customer satisfaction management. Prior to this, I was lead product manager at <a href="https://heetch.com" class="brand-heetch">Heetch</a> focusing on customer care and core platform. Previously, I've also held leadership roles in e-commerce at <a href="https://the-other-store.com/" class="brand-toz">The Other Store</a>. As a product manager, I relish in bridging the gap between technology and business, between data and users, to deliver well-crafted, user-centric features. <br />Father of 2 amazing boys, I'm spending my free time surfing 🏄 from lego to playmobil to Paw Patrol and Ninjago.</p></div>
  </div>
</section>

