<section class="section background" role="presentation">
  <header>
    <span class="section__subline">INTRODUCTION</span><span class="section__reveal-line"></span>
  </header>
  <div class="background__presentation">
    <div class="background__left"><p>10 ans d'expériences dans le produit digital à trouver des solutions fiables et scalables. </p></div>
    <div class="background__right"><p>Je suis actuellement Senior Product Manager chez <a href="https://heetch.com" class="brand-heetch">Heetch</a>. Je gère actuellemnt toute la partie "produit interne et customer care" et le lancement du B2B. <br /> En tant que PM j'aime particulièrement être le lien entre la technique et le design, le business et la data, les besoins et les utilisateurs afin de designer les bons produits. <br /> Papa d'un petit Lucas de 2 ans, je passe la majeure partie de mon temps libre à surfer 🏄‍♂️ des legos aux playmobils à Pat Patrouille 🐶.</p></div>
  </div>
</section>