<section class="section lastarticle full-width" role="last articles">
  <header>
    <span class="section__subline">DERNIERS ARTICLES</span><span class="section__reveal-line"></span>
    <h1 class="section__title">Quelques mots exprimant mes pensées</h1>
  </header>
  {% set postlist = collections.posts | head(-3) %}
  {% set postlistCounter = collections.posts | length %}
  {% for post in postlist | reverse %}
  <article class="lastarticle__post">
    <h4 class="lastarticle__title">
      <a href="{{ post.url | url }}" class="lastarticle__link" rel="bookmark">
          {{ post.data.title }}
      </a>
    </h4>
    <div class="postlist__meta">
        <time class="postlist__date dt-published">
            {{ post.date | readableDate('dd LLL yyyy') }}
        </time>
    </div>
    </article>
  {% endfor %}
</section>