<ol reversed="reversed" class="postlist" start="{{ postlist.length }}">
    {% for post in postlist | reverse %}
        <li class="postlist__item h-entry">
            <div class="postlist__meta">
                <span aria-hidden="true">🕐</span>
                <time class="postlist__date dt-published">
                    {{ post.date | readableDate('dd LLL yyyy') }}
                </time>

                {% if post.data.tags %}
                    <span aria-hidden="true">🏷️</span>
                    <span class="postlist__tags p-category">
                        {{ post.data.tags|join(', ') }}
                    </span>
                {% endif %}

            </div>
            <h2 class="postlist__title">
                <a href="{{ post.url | url }}" class="postlist__link" rel="bookmark">
                    {{ post.data.title }}
                </a>
            </h2>
            {% if post.data.cover %}
                <img class="postlist__cover" src="{{ post.data.cover }}" alt="{{ post.data.title }}">
            {% endif %}
            <p class="postlist__excerpt p-summary">
                {% if post.data.description %}
                    {{ post.data.description }}
                {% else %}
                    {{ post.templateContent | excerpt | striptags }}
                {% endif %}
            </p>
            <a href="{{ post.url | url }}" class="postlist__readmore" rel="bookmark">
                Read the article
            </a>
        </li>
    {% endfor %}
</ol>