<div class="theme-switch-wrapper">
  {% icon "sun" %}
  <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round"></div>
  </label>
  {% icon "moon" %}
</div>