.edito{
    @include body-text();
    /* Vertical */
    > * {
        margin-bottom: 2rem;
    }

    a{
        @include hyphenate;
    }
    
    ul, ol, dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin-bottom: .5rem;
    }
    
    ul {
        list-style: inside circle;
        padding-left: 0;
    
        li {
            margin-bottom: .25rem;
        }
    
        ul,
        ol {
            margin-top: .25rem;
            margin-bottom: .5rem;
        }
    }
    
    ol {
        list-style: inside decimal;
        padding-left: 0;
    
        li {
            margin-bottom: .25rem;
        }
    
        ul,
        ol {
            margin-top: .25rem;
            margin-bottom: .5rem;
        }
    }
    abbr[title] {
        cursor: help;
        border-bottom: 1px dotted var(--color-border);
    }
    
    blockquote {
        padding: 0 0 0 1.5rem;
        margin: 2rem 1rem;
        color: var(--color-text-offset);
        border-left: .5rem solid var(--color-border);
    
        p:last-child {
            margin-bottom: 0;
        }
    }
    
    blockquote.awesome {
        text-align: center;
        font-size: 20px;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        font-family: $font-family-serif;
        font-style: italic;
        border-left: 0;
        position: relative;
        quotes: "“" "”" "‘" "’";
        padding: 0;
    
        &:before {
            color: #ccc;
            content: open-quote;
            font-size: 80px;
            position: absolute;
            left: 50%;
            bottom: calc(100% - 20px);
            background: var(--color-bg);
            height: 55px;
            width: 55px;
            line-height: normal;
            text-align: center;
            transform: translateX(-50%);
        }
    
        p {
            padding: 20px;
        }
    }
    /*----------  Pre Code  ----------*/
pre{
    font-size: 0.8rem;
    border-left:solid 2px color(brand);
    border-bottom: solid 1px color(grey);
    background: #f7f7f7;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    &:hover{
        width: 120%;
        position: relative;
        -webkit-transform: translate(-10%,0);
        margin: 2rem;
    }
}
    .gist pre{
        &:hover{
            width: 100%;
            -webkit-transform: translate(0,0);
        }
    }


    /*----------  table  ----------*/

    //Table style
    table
    {
        //General table style
        display: table; width: 100%; border: { width: 0px; collapse: collapse; } font-weight: 300;
        color: color(note-text);

        //Table margin
        margin: { top: 0px; bottom: 20px; }

        //Table head
        thead tr td { font-weight: normal; border-bottom: 2px solid color(brand); background-color: #f6f8fa; }

        //Table row
        tr td { border-bottom: 1px solid color(brand-annex); padding: { top: 10px; bottom: 10px; left: 10px; } }
    }

}