#diag {
    position: absolute;
    background-color: #DDD;
    background-image: -webkit-linear-gradient(105deg, #FFF 50%, var(--color-primary) 0%);
    min-height: 800px;
    width: 100%;
    z-index: 0;
    opacity: 0.06;
}
.header {
    padding: $spacing-y 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__branding {
        text-decoration: none;
    }
    &__branding__text {
        font-family: $font-family-base;
        font-size: 1.3rem;
        letter-spacing: -1px;
        color: var(--color-text);
    }
}
