.header {
    padding: $spacing-y 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__branding {
        text-decoration: none;
        align-items: center;
        color: inherit;

        @include hover-focus {
            color: inherit;
        }
    }
    &__right{
        display: flex;
        align-items: center;
    }
    &__branding__text {
        font-family: $font-family-base;
        font-size: 1.2rem;
        letter-spacing: -1px;
        color: var(--color-text);
        @include mq(md) {
            font-size: 1.4rem;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    @include mq(md) {
        padding: 5rem 0;
    }
}
