.post {
    &__header {
        @extend .page__header;
    }
    &__title {
        @extend .page__title;

        @include mq(lg) {
            font-size: 8rem !important;
        }
    }
    &__content {
        @include container-blog;
    }
    &__meta {
        font-size: 1.125rem;
        color: var(--color-text-offset);
        font-variant-caps: all-small-caps;
        
    }
    &__tags {
        font-family: $font-family-serif;
        color: var(--color-secondary);
        letter-spacing: 1px;    
        font-weight: bold;
    }
}
