.section{
    margin-bottom: 4rem;
    @include mq(lg) {
        margin-bottom: 8rem;
    }

    @include body-text();

    &__subline{
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 1px;
    }
    &__reveal-line {
        width: 30px;
        height: 1px;
        display: inline-block;
        background: var(--color-primary);
        margin:0 0 6px 2rem;
    }
    header{
        margin-bottom: $spacing-y;
    }
}

.background{
    z-index: 3;
    &__presentation{
        display: block;
        @include mq(lg) {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: flex-start;
        }
    }
    
    &__left{
        color: var(--color-text-offset);
        font-size: 1.8rem;
        margin: $spacing-y 0;

        @include mq(lg) {
            width: 35%;
            max-width: 480px;
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    &__right{
        margin-top: $spacing-y;

        @include mq(lg) {
            width: 65%;
            max-width: 680px;
            margin-left:  60px;
        }
    }
    &__social{
        font-size: 1rem;
        color: var(--color-text);
        margin-right: 0.5rem;
        @include hover-focus{
            color: var(--color-primary);
        }
    }
}

.lastarticle{
    text-align: center;
    margin-bottom: 8rem;
    background: var(--color-bg-offset);
    padding: $spacing-y 0;
    position: relative;
    @include mq(lg){
        padding: 10rem 0;
    }

    &__post{
        margin-bottom: 1.5rem;
        @include mq(lg){
            margin-bottom: 2.5rem;        
        }
    }
    &__title{
        font-size: 2rem;
    }
    &::before,&::after{
        @include mq(lg){
            content: '';
            display: block;
            height: 220px;
            width: 120%;
            position: absolute;
            left: 50%;
            -webkit-transform: rotate(-3deg)translateX(-50%);
            -ms-transform: rotate(-3deg)translateX(-50%);
            transform: rotate(-3deg)translateX(-50%);
            -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
            transform-origin: center top;
            background: var(--color-bg);
            -webkit-transform: rotate(-3deg)translateX(-50%)translateY(-100%);
            -ms-transform: rotate(-3deg)translateX(-50%)translateY(-100%);
            transform: rotate(-3deg)translateX(-50%)translateY(-100%);
        }
    }
    &::before{
        @include mq(lg){
            top:0; 
        }
    }
    &::after{
        @include mq(lg){
            top: 70vh;
        }
    }
}

.instagram{
    &__instas{
        display: block;
        @include mq(lg) {
            display: flex;
        }
    }
    &__shot{
        width: 100%;
    }
    &__roll{
        width: 100%;
    }
    &__photo{
        width: 100%;
    }
}

.experience{
    @include mq(lg){
        margin-top: -4rem;
        z-index:4; 
    }
    .jobs{
        @include container-blog;
        margin-right: 0;
        margin-top: 2*$spacing-y;
    }
    .job{
        margin-bottom: $spacing-y;
        
        &__locdate{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__date{
            font-family: monospace;
        }
    }
}
