/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    @include mq(lg){
      margin-top:5px;
    }
  
    strong {
      margin-left: 10px;
      font-size: 1.4rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--color-border);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--color-bg);
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 20px;
  }
  
  input:checked + .slider {
    background-color: var(--color-primary);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 28px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }