---
layout: base
title: About me
tags: Page
permalink: /about/
excludeFromCollection: true
---

<div class="page page--about">
  <header class="page__header">
      <span class="page__subline">A little more</span>
      <h1 class="page__title">{{ title }}</h1>
  </header>
  <div class="page__content--fullwidth edito">
    <p>Lorem</p>
  </div>
</div>