---
layout: base
title: Articles
permalink: /posts/
eleventyNavigation:
  key: Articles
---

<div class="page page--articles">
    <header class="page__header">
        <h1 class="page__title">{{ title }}</h1>
    </header>
    <div class="page__content">
        {%- set postlist = collections.posts -%}
        {% include "postlist.njk" %} 
    </div>
</div>