---
layout: base
title: Now
tags: Page
permalink: /now/
eleventyNavigation:
  key: Now
  order: 3
---

<div class="page page--about">
  <header class="page__header">
      <span class="page__subline">What am I doing ?</span>
      <h1 class="page__title">{{ title }}</h1>
      <time class="post__date" itemprop="datePublished" datetime="{{ page.date | iso }}">⏰ {{ page.date | readableDate('dd LLL yyyy') }}</time>
  </header>
  <div class="page__content edito">
    <p class="lead">Instead of talking about me in general, and repeat myself from what i've already written in my home page. I've decided to create a now page to list what are my current situation, my goals etc.
</p>
    <h2>What's a now page ?</h2>
    <p>Most websites have a link that says “about”. It goes to a page that tells you something about the background of this person or business. For short, people just call it an “about page”.
</p>
<p>Most websites have a link that says “contact”. It goes to a page that tells you how to contact this person or business. For short, people just call it a “contact page”.
</p>
<p>So a website with a link that says “now” goes to a page that tells you what this person is focused on at this point in their life. For short, we call it a “now page”.
</p>
<p>This now page was inspired by <a href="https://sive.rs/nowff" title="Derek Sivers">Derek Sivers</a> and <a href="https://practicingdeveloper.com/now.html" title="Gregory Brown | Now Page">Gregory Brown</a>'s <a href="https://twitter.com/sivers/status/656624765180874752">tweet</a>.
  <h2>So What I'm doing now ?</h2>
  <ul>
    <li>Managing the internal product @<a href="https://heetch.com/" title="Heetch">Heetch</a> with an amazing team :
      <ul>
        <li>David (<a href="https://twitter.com/davidguyon?lang=en">David's Twitter</a>)</li>
        <li>Elo (<a href="https://www.linkedin.com/in/elodiemermet/">Elo's linkedIn</a>)</li>
        <li>Tam (<a href="https://github.com/tamarasaurus">Tam's github</a>)</li>
        <li>Obed (<a href="http://obedparla.com/">Obed's website</a>)</li>
        <li>Juan (<a href="https://github.com/jvallesm">Juan's github</a>)</li>
        <li>Guigui (<a href="https://www.linkedin.com/in/guillaume-wehrling-9bb09969/">Guigui's linkedIn</a>)</li>
        <li>Gabo (<a href="https://www.linkedin.com/in/gabrielparadiso/">Gabo's linkedIn</a>)</li>
        <li>Octave (<a href="https://www.linkedin.com/in/octavestoufflet/">Octave's linkedIn</a>)</li>
        <li>KeaKea (<a href="https://github.com/keanan">Keakea's github</a>)</li>
      </ul>
    </li>
    <li>Getting back to code : Front end is coming back faster, Now I'm working on a small project around spotify and user's behaviours</li>
    <li>Writing a new article around the need to go further the methodology and rules</li>
    <li>Translating and adapting in my mother tongue my first article (<a href="https://www.julien-brionne.fr/posts/what-is-the-real-mvp/">What's the real MVP</a>) for <a href="https://www.followtribes.io/">FollowTribes</a></li> 
    <li>Digging and learning with <a href="https://indieweb.org/">indieweb</a></li>
    <li>Currently working from home for my greatest delight : It was already something I was experimenting more and more before COVID-19 crisis.</li>
    <li>Trying to fill a little this : <a href="https://headbang.fr/">Headbang.fr</a></li>  
    <li>Listening to the last Pain Of Salvation (Panther) and the last Ulver (Flowers of Evil)</a></li>  
    <li>Reading "<a href="https://www.babelio.com/livres/Thilliez-Il-etait-deux-fois/1208575">Il était deux fois</a>" of Frank Thilliez</li>
    <li>Trying to play more music ...</li>
  </ul>
  </div>
</div>