---
layout: base
eleventyNavigation:
  key: Home
---

<div class="hero fade-in">
  <div class="hero__inner">
    <header>
      <h1>👋 <br /> Hey je m'appelle <span class="primary">Julien</span> et je résous des <span class="red">problèmes</span> utilisateurs.</h1>
      <span class="min">A PARIS, FRANCE</span>
      <hr />
    </header>
    <section role="presentation">

    </section>
    <footer role="social-link">
      {% include "social.njk" %}
    </footer>
  </div>
</div>

