---
layout: base
---
<article class="article"> 
    <h1>{{ title }}</h1>
    {{ content | safe }}
</article>
  {% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
A