---
layout: base
---
<article 
  id="{{ title | slug }}"
  role="article"
  class="post h-entry"
  itemscope 
  itemtype="http://schema.org/BlogPosting" 
  aria-labelledby="{{ title | slug }}-title"
>
  <header class="post__header">
    <h1 id="{{ title | slug }}" class="post__title">{{ title }}</h1>
    <div class="post__meta">
      {% if tags %}
        <span aria-hidden="true">🏷️</span>
        <span class="post__tags p-category">{{ tags | join(', ') }}</span>
      {% endif %}
      <span aria-hidden="true">🕐</span>
      <time class="post__date" itemprop="datePublished" datetime="{{ page.date | iso }}">{{ page.date | readableDate('dd LLL yyyy') }}</time>
    </div>
  </header>
  <div class="post__content edito e-content" itemprop="articleBody">
    {{ content | safe }}
    <a href="https://brid.gy/publish/twitter"></a>
  </div>
  <div class="post__webmentions edito" itemprop="webmentions">
    <h2>Webmentions</h2>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'webmentions.njk' %}
  </div>
</article>
