---
layout: base
---
<article 
  id="{{ title | slug }}"
  role="article"
  class="post"
  itemscope 
  itemtype="http://schema.org/BlogPosting" 
  aria-labelledby="{{ title | slug }}-title"
>
  <header class="post__header">
      <div class="post__meta">
          {% if tags %}
        <span aria-hidden="true">🏷️</span>
        <span class="post__tags p-category">{{ tags | join(', ') }}</span>
      {% endif %}
      <span aria-hidden="true">🕐</span>
      <time class="post__date" itemprop="datePublished" datetime="{{ page.date | iso }}">{{ page.date | readableDate('dd LLL yyyy') }}</time>

    </div>
    <h1 id="{{ title | slug }}" class="post__title">{{ title }}</h1>

  </header>
  <div class="post__content edito" itemprop="articleBody">
    {{ content | safe }}
  </div>

  <footer class="post__footer">
    {% if nextPost.url %}
      <p class="ctr">
        <strong>Suivant</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
    {% endif %}
    {% if prevPost.url %}
      <p class="ctr">
        <strong>Précédent</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
      </p>
    {% endif %}
  </footer>
</article>